:root {
  --text-title: #ccb870;
  --black: black;
  --white: white;
  --white-inactive: rgba(255, 255, 255, 0.377);
  --gray: #494d50;
  --button: #9b9595;
  --tan-color: #ccb870;
  --red-500: #f54e4e;
  --side-bar: #474648;
  --bg-home: #9b9595;
  --active-button: #636067;
  --bg-input: #484749;
  --border-button: #c4c4c4;
  --bg-button: #484749;
  --temp-color: #bc66c7;
  --weather-bg: #464651;
  --select-bg: rgba(26, 17, 29, 0.7);
  --select-bg-hover: rgba(60, 42, 66, 0.7);
}
